
.forgot-password-container {
    height: 91vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0,0,0,0.590), rgba(0,0,0,0.460)), url(../../assets/images/onlineshop.jpg);
  }
  
  .card {
    background-color: #ffffff;
    border: none;
  }
  
  .btn-primary {
    background: linear-gradient(#552ed5, #5e0496);
  }
  
  .btn-dark {
    background-color: #343a40;
    border-color: #343a40;
  }
  
  .form-control:disabled {
    background-color: #e9ecef;
  }
  

