/* .navbar{
    box-shadow: var(--box-shadow);
}
.navbar-nav .nav-link{
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active{
    color: var(--c-brand);
}
.navbar img{
    width: 42px;
} */

.profile-btn{
    padding: 0;
    border: none;
    background: none;
    color: blue;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}